* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "MyCustomFont", Arial, sans-serif; /* Use custom font */
}

@font-face {
  font-family: "MyCustomFont"; /* Custom name for the font */
  src: url("assets/futura-pt-book.2dadbb3c03c1.ttf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}
@font-face {
  font-family: "MyCustomFontMedium"; /* Custom name for the font */
  src: url("assets/futura-pt-medium.b650e9c2aaf6.ttf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}
@font-face {
  font-family: "MyCustomFontOblique"; /* Custom name for the font */
  src: url("assets/futura-pt-book-oblique.f859db99cda9.ttf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}

/* Navbar */
nav {
  height: 10vh;
  width: 100%;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 1vw;
  border-bottom: 2px solid #00000015;
}
#nav-menu {
  height: 100%;
  width: 55%;
  padding: 0 1.5vw;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
#nav-menu h3:nth-last-child(1){
    color: #EA744A;
}
#nav-menu h3 span{
    margin: 0 5px;
    font-size: 1.3vw;
}
#nav-menu img {
  height: 70%;
  width: auto;
}

#nav-signup {
  height: 100%;
  width: 50%;
  /* background-color: green; */
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
#nav-signup h3{
    color: blue;
}

/* Header */
#nav-mini{
  height: 10vh;
  width: 100%;
  padding: 1.5vw;
  display: flex;
  gap: 3vw;
  align-items: center;
  /* background-color: red; */
}
#nav-mini h4:nth-child(1){
  color: #EA744A;
}

/* Main Page */
section{
  height: 80vh;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section img{
  height: 100%;
  width: 80%;
  object-fit: cover;
}
section h1{
  position: absolute;
  color: #E85744;
  font-size: 9vw;
}

/* Page 2 */
#page2-text{
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  /* background-color: aqua; */
}
#page2-text h2{
  width: 50%;
  font-size: 2vw;
  line-height: 1.5;
  font-weight: 600;
}
#page2-text h2 span{
  color: #1F01FF;
}
#page2-text p{
  width: 50%;
  font-family: "MyCustomFontOblique";
  font-size: 1.3vw;
  font-weight: 100;
}

#page2-img{
  height: 120vh;
  width: 100%;
  /* background-color: #EA744A; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
#page2-img img{
  height: 75%;
  width: 42%;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
#page2-img #background{
  height: 100%;
  width: 58%;
  background-color: #FBFFA7;
  position: relative;
}
#page2-img #background img{
  height: 43%;
  width: 57%;
  position: absolute;
  object-fit: cover;
  top: 52%;
  left: 57%;
  transform: translate(-50%, -50%);
}




/* Footer */
footer{
  height: 100vh;
  width: 100%;
  padding: 2vw 8vw;
}
footer h1{
  /* background-color: gray; */
  font-size: 3.5vw;
  /* padding-bottom: 3vw; */
}
footer #contact{
  height: 60vh;
  width: 100%;
  padding: 4vw 0;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4vw;
  row-gap: 10vh;
  /* justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3vw; */
}
footer #contact .contact-component{
  height: 20vh;
  /* /* max-width: 32vw; */
  /* background-color: blanchedalmond;  */
}
footer #contact .contact-component p{
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
}
footer #contact .contact-component h5{
  font-size: 20px;
  font-weight: 600;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
footer #contact .contact-component input{
  margin-top: 3vh;
  width: 70%;
  background-color: #EEEEEE;
  font-size: 1.1vw;
  font-weight: 100;
  border: none;
  padding: 0.6vw 9vw 0.6vw 1vw ;
}
footer #contact .contact-component button{
  margin-top: 3vh;
  background-color: #1F01FF;
  color: white;
  font-size: 1.1vw;
  font-weight: 550;
  border: none;
  padding: 0.6vw 1.5vw 0.6vw 1.5vw ;
}
footer #contact .contact-component select{
  background-color:#EEEEEE;
  border: none;
  padding: 0.5vw 2vw 0.5vw 0.5vw ;
  text-align: left;
}
footer #contact .contact-component select:last-child{
  padding: 0.5vw 6vw 0.5vw 0.5vw ;
}

#endNav{
  height: 10vh;
  width: 100%;
  margin-top: 1.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  /* background-color: green; */
}
#endNav #details{
  display: flex;
  gap: 1vw;
}
#endNav #details h6{
  font-size: 0.9vw;
  font-weight: 580;
}

/* #page2-img #image{
  height: 80%;
  width: 50%;
  z-index: 99999;
  position: relative;
} */


